.list-group {
    --bs-list-group-item-padding-x: 15px;
    --bs-list-group-item-padding-y: 12px;
    --bs-list-group-active-bg: var(--splash-primary-color);
    --bs-list-group-active-border-color: var(--splash-primary-color);
}
.simple-list-example-scrollspy {
    .active {
        background-color: #f5f5f5;
    }
}

// Dark Mode
.dark {
    .list-group {
        --bs-list-group-bg: var(--splash-black-color);
        --bs-list-group-color: var(--splash-white-color);
        --bs-list-group-border-color: #45445e;
        --bs-list-group-disabled-color: #BCBBC7;
        --bs-list-group-disabled-bg: #403f58;
    }
    .simple-list-example-scrollspy {
        .active {
            background-color: #f5f5f5;
        }
    }
}